# Server
CLERK_SECRET_KEY="sk_test_a9C8g7lwSicX3Bx8T733GrFOw6R1GPbZ9eRL4uZ86B"
CLERK_WEBHOOK_SECRET="whsec_placeholder"
RESEND_FROM="noreply@placeholder.com"
DATABASE_URL="postgresql://neondb_owner:npg_sZG6n5UmjcMp@ep-withered-frost-aialryl8-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
RESEND_TOKEN="re_placeholder"
STRIPE_SECRET_KEY="sk_test_placeholder"
STRIPE_WEBHOOK_SECRET="whsec_placeholder"
BETTERSTACK_API_KEY="placeholder"
BETTERSTACK_URL="https://localhost"
FLAGS_SECRET="placeholder_flags_secret_must_be_long_enough"
ARCJET_KEY="ajkey_placeholder"
SVIX_TOKEN="testsk_placeholder"
LIVEBLOCKS_SECRET="sk_dev_placeholder"
BASEHUB_TOKEN="bshb_pk_p8kbrgl8qj2w1l63npwlkwhrhcb8qor6fj0fkko4vmlndawemebmq2g9ukz206a9"
VERCEL_PROJECT_PRODUCTION_URL="http://localhost:3000"
KNOCK_API_KEY="placeholder"
KNOCK_FEED_CHANNEL_ID="placeholder"
KNOCK_SECRET_API_KEY=""

# Client
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_Y2hhcm1pbmcta29hbGEtNzAuY2xlcmsuYWNjb3VudHMuZGV2JA"
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL="/"
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL="/"
NEXT_PUBLIC_GA_MEASUREMENT_ID="G-PLACEHOLDER"
NEXT_PUBLIC_KNOCK_API_KEY="placeholder"
NEXT_PUBLIC_KNOCK_FEED_CHANNEL_ID="placeholder"
NEXT_PUBLIC_POSTHOG_KEY="phc_placeholder"
NEXT_PUBLIC_POSTHOG_HOST="https://app.posthog.com"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WEB_URL="http://localhost:3001"
NEXT_PUBLIC_API_URL="http://localhost:3002"
NEXT_PUBLIC_DOCS_URL="http://localhost:3004"
VERCEL_PROJECT_PRODUCTION_URL="http://localhost:3000"
